In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr 
from pyspark.testing import assertDataFrameEqual
from pyspark.sql.types import StructType, StructField

In [3]:
spark = SparkSession.builder.appName("test").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/20 11:47:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [58]:
m = spark.read.csv("merchants.csv", header=True, inferSchema=True) 
t = spark.read.csv("transactions.csv", header=True, inferSchema=True)

In [62]:
SELECT distinct fraudbits FROM "transactions.csv"

   fraudbits
0          0
1          1

In [63]:
WITH operation_efficiency AS (
    SELECT
    m.guild AS guild,
    SUM(CASE WHEN t.countertype = 'sell' THEN 1 ELSE 0 END) / SUM(CASE WHEN t.countertype = 'buy' THEN 1 ELSE 0 END) AS sale_buy_ratio,
    AVG(ABS(t.cost - t.model_cost) / m.coef) AS average_amnesty
    FROM "transactions.csv" t INNER JOIN "merchants.csv" m ON t.merchantid = m.merchantid
    WHERE t.fraudbits = 0
    GROUP BY m.guild
)

SELECT guild, ROUND(average_amnesty * sale_buy_ratio, 2) AS efficiency, sale_buy_ratio, average_amnesty 
FROM operation_efficiency
ORDER BY efficiency DESC
-- LIMIT 1;

                               guild  ...  average_amnesty
0                  Братство Кузнецов  ...      1835.734533
1                 Братство Виноделов  ...      1726.452617
2   Объединение Фруктовых Садовников  ...      1392.373808
3        Гильдия Обработчиков Шерсти  ...      1353.118922
4                   Союз Каменотесов  ...      1007.618129
5                    Гильдия Пекарей  ...      1026.286880
6                    Лига Керамистов  ...       942.637071
7     Гильдия Августовских Торговцев  ...       940.918641
8                 Гильдия Парфюмеров  ...       926.507174
9                Союз Судостроителей  ...       739.047568
10    Ассоциация Оливковых Торговцев  ...       682.928338
11                  Гильдия Гончаров  ...       677.369341
12       Братство Поставщиков Специй  ...       555.012089
13               Объединение Рыбаков  ...       435.379074
14                 Гильдия Мукомолов  ...       447.359102
15                   Союз Скотоводов  ...       378.958286
16                 Общество Ювелиров  ...       550.912775
17                  Лига Стеклодувов  ...       167.483724

[18 rows x 4 columns]

In [67]:
SELECT 
    SUBSTRING(t.date FROM 11 FOR 2) AS hour,
    COUNT(*) AS sales_count
FROM "transactions.csv" t INNER JOIN "merchants.csv" m ON t.merchantid = m.merchantid
WHERE t.countertype = 'sell' AND m.guild = 'Братство Кузнецов'
GROUP BY SUBSTRING(t.date FROM 11 FOR 2)
ORDER BY sales_count DESC
-- LIMIT 1;

   hour  sales_count
0    21           48
1    13           44
2    20           43
3    17           40
4    08           39
5    10           38
6    19           36
7    14           35
8    15           34
9    07           34
10   16           33
11   12           31
12   22           31
13   09           30
14   11           30
15   18           29
16   23           25
17   06           18
18   00           16
19   05           12
20   02            6
21   03            6
22   04            5
23   01            4